
<!DOCTYPE html>
<html>
<head>
<title>Welcome to nginx!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1> That is my custome config files----> {{ Message }} {{ Message }} {{ Message }} </h1>
<p>That is my custome config files.</p>


<p><em>{{ Message }}</em></p>
</body>
</html>
